*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(125, 125, 208);
}
.container{
    background-color: #ee93db;
    border: 2px solid purple;
    padding: 25px;
    margin : 20px 10px;
    border-radius: 10px;

} #third{height: 1000px;
    width: 800px;
    background-image: url(https://clipground.com/images/rainbow-lorikeet-clipart-16.jpg);
    background-repeat: repeat;
    /* background-position: ; */
    border: 2px dotted green;
}