*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    background-color:#F0F4F5;
    margin: auto;
    overflow: hidden;
}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 500;

} 
nav ul li:first-child{
    color: rgb(13, 139, 13);
}
/* hero section */
main{ 
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 85vh; */
}
 main section{
    width: 50%;
 }
 .left  {
    margin-left: 5%;
    position: relative;
 }
 
 .topangle{
    width: 25px;
 }

 .left h1{
    font-size: 70px; 
 }
.left p {
    color: gray;
    font-size: 20px;
    margin: 20px 0;
}
.bottomangle{
    width: 25px;
    position: absolute;
    right: 20px;
}
/* Making The position  */
.docter{
    position: relative;
    margin: auto;
    padding: 10px;
    
}
